<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ member.name }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta property="og:title" content="{{ member.name }}"/>
        <meta property="og:image" content="https://katsis.net/data/members/{{ member.image }}">
        <meta property="og:description" content="{{ member.role | join(", ") }}"/>
        <meta name="description" content="{{ member.role }}">
        <meta name="theme-color" content="#ff7f7f">

        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
        <link rel="stylesheet" type="text/css" href="/common/css/common.css"/>
        <link rel="stylesheet" type="text/css" href="/css/index.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
        
        <script src="js/index.js"></script>
        <script src="https://analytics.katsis.net/shika.js" data-url="https://analytics.katsis.net/analytics/send" data-site-key="e1eec80a91239854748a387d"></script>
    </head>
    <body>
    {% include 'banner.html.twig' %}
    {% block content %}{% endblock %}
    {% include 'footer.html.twig' %}
    </body>
</html>