{% extends 'base.html.twig' %}

{% block content %}
    <h1>{{ member.name }}</h1>
    {% if projects is empty and comics is empty and images is empty and commissions is null %}
        <div id="katsises">
            <img src="img/logo.svg"/> <img src="img/logo.svg"/> <img src="img/logo.svg"/><br>
            <h2>There is nothing except us, katsises</h2>
        </div>
    {% else %}
        {% if member.commissions is not null %}
        <div id="commissions">
            {% for cdata in member.commissions.data %}
                <h3>{{ cdata.name }}</h3>
                <div class="container" style="background-image: url('https://gallery.katsis.net/data/images/{{ cdata.background }}.png');">
                    <div class="filter"></div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <th>Art Range</th>
                                    <th>Detail</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                        {% for cddata in cdata.details %}
                                <tr>
                                    <td>{{ cddata.range }}</td>
                                    <td>{{ cddata.details }}</td>
                                    <td class="devise">{{ cddata.price }} {{ member.commissions.devise }}</td>
                                </tr>
                        {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endif %}
        {% if projects is not empty %}
            <h2>Projects</h2>
            {% for p in projects %}
                <a href="{{ p.link }}"><img src="https://katsis.net/data/projects/{{ p.baseFolder }}/{{ p.preview }}"/></a>
            {% endfor %}
        {% endif %}
        {% if comics is not empty %}
            <h2>Comics</h2>
            {% for c in comics %}
                <a href="https://comic.katsis.net/{{ c.id }}"><img src="https://comic.katsis.net/comics/{{ c.id }}/previews/thumbnail.png"/></a>
            {% endfor %}
        {% endif %}
        {% if images is not empty %}
            <h2>Gallery</h2>
            {% for img in images %}
                <a href="https://gallery.katsis.net/i/{{ img.id }}"><img src="https://gallery.katsis.net/data/thumbnails/{{ img.id }}.{{ img.format }}"/></a>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock %}