{% extends 'base.html.twig' %}

{% block content %}
    <div class="flex" id="intro">
        <div>
            <img id="pfp" src="https://katsis.net/data/members/{{ member.image }}"/>
        </div>
        <div>
            <div class="flex" id="intro-title">
                <h1>{{ member.name }}</h1>
                <p>
                    {% for so in member.socials %}
                    {% if so.name == "discord" %}
                    <span title="{{ so.link }}"><i class="fab fa-discord"></i></span>
                    {% else %}
                        <a href="{{ so.link }}" target="_blank">
                        {% if so.name == "twitter" %}
                        <i class="fa-brands fa-twitter"></i>
                        {% elseif so.name == "youtube" %}
                        <i class="fa-brands fa-youtube"></i>
                        {% elseif so.name == "twitch" %}
                        <i class="fa-brands fa-twitch"></i>
                        {% else %}
                        <i class="fa-solid fa-globe"></i>
                        {% endif %}
                        </a>
                    {% endif %}
                    {% endfor %}
                </p>
                <p>{{ member.role | join(", ") }}</p>
            </div>
            <p>
                {{ member.description | join("<br>") | raw }}
            </p>
        </div>
    </div>
    {% if projects is empty and comics is empty and images is empty and commissions is null %}
        <div id="katsises">
            <img src="img/logo.png"/> <img src="img/logo.png"/> <img src="img/logo.png"/><br>
            <h2>There is nothing here but us, katsises</h2>
        </div>
    {% else %}
        <div id="main">
            {% if projects is not empty %}
                <h2>Projects</h2>
                <hr>
                <div class="flex">
                {% for p in projects %}
                    <a href="{{ p.link }}"><img src="https://katsis.net/img/projects/{{ p.baseFolder }}/{{ p.preview }}"/></a>
                {% endfor %}
                </div>
            {% endif %}
            {% if member.commissions is not null and member.commissions.data is not null %}
            <h2>Commissions</h2>
            <hr>
            <div id="commissions" class="flex">
                {% for cdata in member.commissions.data %}
                    <div>
                        <h3>{{ cdata.name }}</h3>
                        <div class="container" style="background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('https://gallery.katsis.net/data/images/{{ cdata.background }}.png');">
                            <div class="content">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Art Range</th>
                                            <th>Detail</th>
                                            <th>Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                {% for cddata in cdata.details %}
                                        <tr>
                                            <td>{{ cddata.range }}</td>
                                            <td>{{ cddata.details }}</td>
                                            <td>{% if cddata.price == -1 %}TBA{% else %}{{ cddata.price }}{{ member.commissions.devise }}{% endif %}</td>
                                        </tr>
                                {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% endif %}
            {% if comics is not empty %}
            <div id="comics">
                <h2>Comics</h2>
                <hr>
                <div class="flex">
                {% for c in comics %}
                    <a href="https://comic.katsis.net/{{ c.id }}"><img src="https://comic.katsis.net/comics/{{ c.id }}/previews/thumbnail.png"/></a>
                {% endfor %}
                </div>
            </div>
            {% endif %}
            {% if images is not empty %}
            <div id="gallery">
                <h2>Gallery</h2>
                <hr>
                <div class="flex">
                {% for img in images %}
                    <a href="https://gallery.katsis.net/i/{{ img.id }}"><img src="https://gallery.katsis.net/data/thumbnails/{{ img.id }}.{{ img.format }}"/></a>
                {% endfor %}
                </div>
            </div>
            {% endif %}
            {% if member.commissions is not null and (member.commissions.tos is not null or member.commissions.faq is not null) %}
            <div id="tos">
                <h2>ToS & FAQ</h2>
                <hr>
                <div class="flex">
                    {% if member.commissions.tos is not null %}
                    <div class="container">
                        <p>
                            <ul>
                                {{ member.commissions.tos | map(x => '<li class="question">' ~ x ~ '</li>') | join('<br>') | raw }}
                            <ul>
                        </p>
                    </div>
                    {% endif %}
                    {% if member.commissions.faq is not null %}
                    <div class="container">
                        <p>
                            <ul>
                                {{ member.commissions.faq | map(x => '<li><p class="question">' ~ x.question ~ '</p><p>' ~ x.answer ~ '</p></li>') | join('<br>') | raw }}
                            <ul>
                        </p>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}